body {
    font-family: roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: darkslateblue;
    color: orange;
    font-weight: 900;
}
#container {
    margin: auto;
    text-align: center;
}

#results {
    display: flex;
    flex: 1;
    flex-direction: row;
}

img {
    height: 200px;
    width: auto;
}

.rock {
    background: #f638dd;
    color: yellow;
}

.paper {
    background: #38d0f6;
    color: white;
}

.scissors {
    background: #38f697;
    color: darkorchid;
}

#btn, #resetBtn {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 16px;
    border: 1px darkslateblue;
}

#resetBtn {
    background: orange;
    color: white;
}